<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-expand-md bg-primary" style="background-color:#0979e8;text-align: left;">
  
	<a class="navbar-brand" href="#"></a> <img class="imgpanel"alt="AlgaWorks"
		src="/img/download.png"><h1 class="text-center">Portifolio</h1>
	<div class="collapse navbar-collapse" id="collapsibleNavbar"></div>	
		<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/projetos">Projetos
		</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/home/skills">Skills
		</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/home/contatos">Contato
		</a>
      </li>
    </ul>
</nav>
</html>