<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
  
	<a class="navbar-brand" href="#"></a> <img class="imgpanel"alt="AlgaWorks"
		src="/img/download.png">
	<div class="collapse navbar-collapse" id="collapsibleNavbar"></div>	
		<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/home/projetos">Projetos</a>
          <a class="dropdown-item" href="/home/skills">Skills</a>
          <a class="dropdown-item" href="/home/contatos">Contato</a>
        </div>
    </ul>
</nav>

</html>