<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<head>
<title>Portifolio</title>
</head>
<section layout:fragment="conteudo">
	<div class="card">
		<div class="card-header">
			<div class="clearfix">
				<h5 class="card-title">Meus contatos</h5>
				<a class="btn btn-link aw-link-card" href="/home">.</a>
			</div>
		</div>
		<img class="imgpanel"alt="AlgaWorks"
		src="/img/GitHub-Mark.png"><a href="https://github.com/vinirafa2019">GitHub</a>
		<br>		
		<img class="imgpanel"alt=""
		src="/img/fb.jpg"><a href="https://www.facebook.com/viniguimlk?ref=bookmarks">Facebook</a>
		<br>		
		<img class="imgpanel"alt=""
		src="/img/out.jfif">E-mail : vinirafa2013@hotmail.com
	</div>
</section>
</html>