<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<head>
<title>Portifolio</title>
</head>
<section layout:fragment="conteudo">
	<div>		
				<h5>Meus contatos</h5>
			</div>

		<img class="imglogos" src="/img/GitHub-Mark.png"><a href="https://github.com/vinirafa2019">GitHub</a>
		<br>		
		<img class="imglogos" src="/img/fb.jpg"><a href="https://www.facebook.com/viniguimlk?ref=bookmarks">Facebook</a>
		<br>		
		<img class="imglogos" src="/img/out.jfif">E-mail : vinirafa2013@hotmail.com		

</section>
</html>