<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<head>
<title>Portfolio</title>
</head>

	<!-- Content Row -->
	<div class="container" layout:fragment="conteudo">

		<!-- Heading Row -->
		<div class="row align-items-center my-5">
			<div class="col-lg-7">
				<img class="foto" src="/img/perfil.jpg" alt="">
			</div>
			<!-- /.col-lg-8 -->
			<div class="col-lg-5">
				<h1 class="font-weight-light">Portfolio</h1>
				<h5>Vinicius Guilherme De Mattos Rafael</h5>
				<p>Meu primeiro portfolio</p>
				<a class="btn btn-primary" href="/home/contatos">Entre em
					contato</a>
			</div>
			<!-- /.col-md-4 -->
		</div>
		<!-- /.row -->

		<!-- Content Row -->
		<div class="row">
			<div class="col-md-4 mb-5">
				<div class="card-body">
					<h2>Projetos</h2>
				</div>
				<div class="card-footer">
					<p>Em meu treinamento realizei algumas atividades em java e c#,
						estao todos la no meu github</p>
					<a href="https://github.com/vinirafa2019"
						class="btn btn-primary btn-sm">Veja</a>
				</div>

			</div>
			<div class="col-md-4 mb-5">
				<div class="card-body">
					<h2>Skills</h2>
					<div class="card-text">
					</div>
				</div>
				<div class="card-footer">
				<p>Aqui eu coloquei algumas hebilidades minhas</p>
					<a href="#" class="btn btn-primary btn-sm">Veja</a>
				</div>
			</div>
		</div>
<!-- Footer -->
	</div>
</html>			