<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">


<head>
<title>Portifolio</title>
</head>
<section layout:fragment="conteudo">
	<div class="card">
		<div class="card-header">
			<div class="clearfix">
				<h5 class="card-title">Meu portifolio</h5>
				<a class="btn btn-link aw-link-card" href="/home">.</a>
			</div>
		</div>
		<p>Meu nome é Vinicius Guilherme De Mattos Rafael,no momento faço estagio de desenvolvimento na empresa GFT Brasil. <br>
		Neste portifolio tem algumas atividades que realizei durante o treinamento</p>
		
		
		
	</div>
</section>
</html>