<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Portifolio</title>
<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/Style.css">
<link rel="icon" href="http://www.seusite.com/favicon.ico?v=2" />
</head>
<body class="body">
	<header layout:insert="Cabecalho"></header>


	<section layout:fragment="conteudo">
		<p>Conteudo Principal</p>
	</section>

        <div class="footer text-center">
        
         	   <p>Copyright © 2017 All rights reserved</p>
         </div>         
 </body> 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>
