<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Projetos</title>
</head>

<section layout:fragment="conteudo">
    <form class="" method="POST" action="/home">
        <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">	<span th:text="${mensagem}"></span>
        </div>
        <div class="card">
            <div class="card-header">
              		<div class="clearfix">
			<h1 class="card-title">Projetos</h1>
			<a class="btn btn-link aw-link-card" href="/home">.</a>
		</div>
            </div>
            <div class="card-body ">
             <p>Aqui voce ira encontrar os projeto de <br>exemplos que realizei no treinamento </p>
             		<img class="imgpanel"alt="AlgaWorks"
					src="/img/GitHub-Mark.png"><a href="https://github.com/vinirafa2019">GitHub</a>
            </div>
        </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>