<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Projetos</title>
</head>

<section layout:fragment="conteudo">
	<form class="" method="POST" action="/home">
		<div class="alert alert-success"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
		<div>
			<h1 class="card-title center">Projetos</h1>
		</div>
		<br> <br>

		<div class="container">
			<div class="row">
				<div class="col-md-4 mb-5">
					<div class="card-body">
						<h2>EX</h2>
					</div>
					<div class="card-footer">
						<a href="https://github.com/vinirafa2019/ex1Veiculo"
							class="btn btn-primary btn-sm">Veja</a>
					</div>
				</div>
				<div class="col-md-4 mb-5">
					<div class="card-body">
						<h2>EX 4</h2>
						<p class="card-text"></p>
					</div>
					<div class="card-footer">
						<a href="https://github.com/vinirafa2019/EX4-completo-tudo-certo" class="btn btn-primary btn-sm">Veja</a>
					</div>
				</div>
			<div class="col-md-4 mb-5">
					<div class="card-body">
						<h2>EX 5</h2>
						<p class="card-text"></p>
					</div>
					<div class="card-footer">
						<a href="https://github.com/vinirafa2019/ExerHeran-a" class="btn btn-primary btn-sm">Veja</a>
					</div>
				</div>
			</div>
		</div>

		<div class="card-body center">
			<h5>
				Aqui voce ira encontrar todos projeto de <br>
				exemplos que realizei no treinamento
			</h5>
			<img class="imglogos" alt="AlgaWorks" src="/img/GitHub-Mark.png"><a
				href="https://github.com/vinirafa2019">GitHub</a>
		</div>
	</form>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>